.login{
  margin: auto;
  text-align: center;
  margin-top: 10vw;
  max-width: 40vw;
}
.loginform{
  max-width: 40vw;

}
.inputlog{
  margin-bottom: 2vw;
  width: 20vw;
  text-align: center;
  height: 3vw;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid gray;
}
.buttonlog{
  background: red;
  height: 3vw;
  width: 7vw;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 2vw;
  font-weight: bolder;
}
