//body
  $heightBody: 60em;
  $alignCenter: center;
  $colorFont: #000;
  $marginAuto: auto;
  $displayInfo: block;
  $centerAlign:$alignCenter;
//head
  $h1FontSize: 9vh;
  $widthHeader: 80vw;
  $heightHeader: 18vh;
  $fontHeader: Adam;
//main
  $mainWidth: 100%;
  $mainMarginTop: 5vh;
  $fontMain: Futura;
  $widthSlideContacts: 60vw;
  $widthInfo: 50vw;
  $widthInfoContacts: 30vh;
  $heightSliderContacts: 65vh;
  $heightInfoContacts: 47.5vh;
  $heightDataContacts: 30vh;
  $containerInstaHeight:25vh;
  $minHeightInsta: 300px;
  $minWidthInsta: 300px;
  $imgSize: $widthInfoContacts*(1/3);//$containerInstaHeight*(0.25);
//footer
  $heightFooter: 10vh;
//main slide
  $clientsDisplay: inline-block;
  $radiusClients: 12vh;
  $moveClients: $widthSlideContacts;
html {
 position:relative;
 min-height:100%;
}
/*.container {
  height: 0em;
  padding-bottom: 0*$heightFooter;
}*/
.mainClass{
  margin-top: $mainMarginTop;
  height: $heightSliderContacts+$heightDataContacts*(2.5)+$containerInstaHeight;//+1.5*$heightFooter;
  min-height: (4)*$minHeightInsta;
  width: $mainWidth;
  .contactsSlide{
    background: #FFFFFF url(../images/Contacts.jpg)center no-repeat;
    background-size: cover;
    background-position: center 90%;
    height: $heightSliderContacts;
    max-height: (1.5)*$minHeightInsta;
    min-width: 60%;
    max-width: 45em;
    margin: $marginAuto;
    position: relative;
  }
  .contactsData{
    width: $widthInfoContacts;
    min-width: $minWidthInsta;
    margin: auto;
    min-height: 100px;
    height: $heightDataContacts*(2.2);
    max-height: 40%;
    font-size: $h1FontSize*(0.225);
  }
  .contactsInstagram{

    width: $widthInfoContacts;
    min-width: $minWidthInsta;
    margin: auto;
    min-height: $minHeightInsta;
    height: $heightInfoContacts;
    max-height: 40%;
    font-size: $h1FontSize*(0.225);
    padding-top:  $heightInfoContacts*(1/12);
  }
  .contactsDataInfo{
    width: $widthInfoContacts;
    padding-top:  $heightInfoContacts*(1/12);
    height: $heightDataContacts;
    min-width: $minWidthInsta;
  }
  .contactsDataForm{
    width: $widthInfoContacts;
    padding-top:  $heightInfoContacts*(1/12);
    height: (1.2)*$heightDataContacts;
    min-width: $minWidthInsta;
  }
  .MessageToUs{
    margin-top: 1em;
  }
  .contactsData{
      text-align: $centerAlign;
      color: #000;
      text-decoration: none;
      a{
        color: black;
      }
      ul,li{
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        margin: auto;
        padding-left: 0;
        list-style: none;
      }
      span{
        font-weight: lighter;
        margin-top: 1em;
        margin-bottom: 1em;
        letter-spacing: 0.2em;
        font-size: 1.21em;
      }
      .someLabel{
        width: $widthInfoContacts*(0.5);
        margin: $marginAuto;
        font-weight: lighter;
        text-align: left;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        letter-spacing: 0.1em;
      }
      .someInput{
        width: 10em;//$widthInfoContacts*(3/5);
        height: 1.5em;
        text-align: $alignCenter;
        padding: 2px;
        border: 1px solid lightgray;
        vertical-align: middle;
      }
      .Mes{
        height: 4.5em;
      }
      .Tel{
        font-size: 1.21em;
      }
      .sendButton{
        margin-top: 5px;
        margin-left: auto;
        border: none;
        border-radius: 1px;
        background: lightgray;
        padding: 1px;
        height: 1.5em;
        min-width: 10em;
      }
  }
  .contactsInstagram{
    text-align: center;
    margin: auto;
    .instaTitle{
      height: 2.2em;
      margin: auto;
      width: $widthInfoContacts;
      min-width: 320px;
      .instaTitle1, .instaTitle2{
        min-width: 50px;
      }
      .instaTitle1{
        padding-top:0px;
        text-align: center;
        margin-left: 0.1em;
        font-size: 1em;
        width: $widthInfoContacts*(0.3);
        max-width: 70px;
      }
      .instaTitle2{
        margin-left: $widthInfoContacts*(0.3);
        margin-top: -2.5em;
        text-align: left;
        font-size: 1em;
        a:nth-of-type(2){
          font-size: 0.9em;
        };
      }
      a{
        font-weight: lighter;
        letter-spacing: 0.2em;
        color: #000;
      }
    }
      #containerInstagram{
        height: $heightInfoContacts;
        width: $widthInfoContacts;
        min-width: $minWidthInsta;
        min-height: $minHeightInsta;
        margin: $marginAuto;
        text-align: $alignCenter;
        margin-top: 1em;
      }
      .il-photo__img{
        height: $imgSize;
        width: $imgSize;
        min-height: $minWidthInsta*(1/3);
        min-width: $minWidthInsta*(1/3);
        padding:  5px;
        border: 1px solid white;
      }
      #containerInstagram a{
        font-size: 0;
        padding-bottom: 0;
      }
      .instagram-lite{
        min-width: $minWidthInsta;
        min-height: $minHeightInsta;
        padding-left: 0;
        width: $imgSize*(3.0);
      }
  }
}
body{
    min-width: 100%;
    max-width: 100%;
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    margin-bottom: 0;
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    padding-bottom: 0;
    height: 100%;
    color: #000;
    margin: $marginAuto;
    font-family: $fontMain, sans-serif;
    width: $widthSlideContacts;
    color: $colorFont;
}
header{
  margin-top: 0;
  width: $widthHeader;
  height:$heightHeader;
  margin: $marginAuto;
  padding-top: $heightHeader/7;
  text-align:$alignCenter;
  .navygation{
    font-size: $h1FontSize*(0.245);
    font-family: $fontMain;
    letter-spacing: $h1FontSize*(0.0015);
    width: $widthHeader;
    padding-top: $heightHeader/7;
  }
  h1,h2{
    font-family: $fontHeader;
    font-stretch: ultra-condensed;
    line-height: 1em;
  }
  h1,h2,nav{
    text-align: $alignCenter;
    margin-top: 0;
    margin-bottom: 0;
    color: $colorFont;
  }
  a{
    color: $colorFont;
  }
  h1{
    font-size: $h1FontSize;
    font-weight: bolder;
  }
  h2{
    font-size: $h1FontSize*(0.5);
    margin-top: -0.3em;
    font-weight: bold;
  }
  a:hover{
    color: $colorFont;
  //  text-decoration: none;
  }
}
footer{
  position: absolute;
  font-size: 2vh;
  font-family: $fontMain;
  height: $heightFooter;
  margin: $marginAuto;
  width: 100%;
  text-align: center;
  bottom: 0;
  .copyRight{
    height: $heightFooter*(2/5);
    margin-top: $heightFooter*(-0/5);
    font-size: 0.5em;
    background: lightgray;
    p{
      padding: 0;
      margin:0;
    }
  }
  .socialMediaButtons{
    height: $heightFooter*(5/5);
  }
}
//index slide
.realMain,.mainMenu, .boxes, .wedding{
    height: (2.3)*$heightSliderContacts;
    min-height: 1000px;
    //Main slide
    .mainSlide{
      background-size: cover;
      height: $heightSliderContacts;
      max-height: (1.5)*$minHeightInsta;
      min-width: 60%;
      max-width: 45em;
      margin: $marginAuto;
      position: relative;
    }
    /*
    Первичные стили:
    С ними работает слайд шоу
    */
    #slides {
        height: $heightSliderContacts;
          max-height: (1.5)*$minHeightInsta;
        width: $mainWidth;
        min-width: 100%;
        max-width: 45em;
        /*padding: 0px;
        margin: 0px;
        list-style-type: none;*/
    }
    .slide {
        position: absolute;
        left: 0px;
        top: 0px;
        //height: 100%;
        height:  $heightSliderContacts;
          max-height: (1.5)*$minHeightInsta;
        min-width: 100%;
        max-width: 45em;
        opacity: 0;
        z-index: 1;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }
    /*Сделать видимым, прозрачность=0;*/
    .showing {
        opacity: 1;
        z-index: 2;
    }
    /*
    Второстепенные стили:
    Внешний вид; можете изменять
    */
    .slide {
        font-size: 1em;
        padding: 0;
        box-sizing: border-box;
        background: #333;
        color: #fff;
        height: 100%;
    }
    .slide:nth-of-type(1) {
        background: #FFFFFF url(../images/01.JPG) center no-repeat;
            background-size: cover;
    }
    .slide:nth-of-type(2) {
        background: #FFFFFF url(../images/02.JPG) center no-repeat;
            background-size: cover;
    }
    .slide:nth-of-type(3) {
        background: #FFFFFF url(../images/03.JPG) center no-repeat;
            background-size: cover;
    }
    .slide:nth-of-type(4) {
        background: #FFFFFF url(../images/04.JPG) center no-repeat;
            background-size: cover;
    }
    .slide:nth-of-type(5) {
        background: #FFFFFF url(../images/05.JPG) center no-repeat;
            background-size: cover;
    }
    .slide:nth-of-type(6) {
        background: #FFFFFF url(../images/06.JPG) center no-repeat;
            background-size: cover;
    }
    .slide:nth-of-type(7) {
        background: #FFFFFF url(../images/07.JPG) center no-repeat;
            background-size: cover;
    }
    .controls,button{
      margin-top: 0.5em;
      background: gray;
      color:black;
      font-size: 1.1em;
      border: 0.5px solid #00a;

    }
    .tableslider1{
      height: 4em;
    }
    .tableslider{
      text-align: center;
      padding-top: 1em;
      margin: auto;
      opacity: 0.15;
    }
    .tableslider td{
      min-width: 5em;
    }
    .tableslider button{
      width: 100%;
    }
    .slider-photo ul{
      margin: auto;
    }
    .contentAboutText,.ourPartners,.ourClients{

      height: (0.3)*$heightSliderContacts;
      min-height: 180px;
    //  max-height: 355px;
      width: 30em;
      max-width: 90%;
      min-width: 310px;
      margin:auto;
      text-align: center;
      padding: 1% 0;
      font-size: 2.2vh;
      font-weight: 100;
      p{
        text-align: justify;
      }
      span{
        font-size: 1.3em;

      }

      .clientsList, .partnersList{
        height: 1.2*$radiusClients;
        .clients, .partners{
          display:$clientsDisplay;
          position: absolute;
          height: $radiusClients;
          width: $radiusClients;
          border-radius: $radiusClients*(0.0);
          line-height: 100px;
          //border: 1px solid gray;
          margin: $radiusClients*(0.1);
        }
        .clients:nth-of-type(1){
          background: #FFFFFF url(../images/clients/logo01.gif) center no-repeat;
                    background-size: contain;
          margin-left: -1.75*$radiusClients;
        }
        .clients:nth-of-type(2){
          background: #FFFFFF url(../images/clients/logo02.gif) center no-repeat;
                    background-size: contain;
          margin-left: -(0.5)*$radiusClients;
        }
        .clients:nth-of-type(3){
          background: #FFFFFF url(../images/clients/logo03.gif) center no-repeat;
                    background-size: contain;
          margin-left: (0.75)*$radiusClients;

        }
        .clients:nth-of-type(4){
          background: #FFFFFF url(../images/clients/logo04.gif) center no-repeat;
                    background-size: contain;
                    background-size: 75%;
                    opacity: 0.9;
          margin-left: -1.75*$radiusClients;
          margin-top: 16vh;
        }
        .clients:nth-of-type(5){
          background: #FFFFFF url(../images/clients/logo05.gif) center no-repeat;
                    background-size: contain;
          margin-left: -(0.5)*$radiusClients;
          margin-top: 16vh;
        }
        .clients:nth-of-type(6){
          background: #FFFFFF url(../images/clients/logo06.gif) center no-repeat;
                    background-size: contain;
          margin-left: (0.75)*$radiusClients;
                    margin-top: 16vh;
        }
        .clients:nth-of-type(7){
          background: #FFFFFF url(../images/clients/logo07.gif) center no-repeat;
                    background-size: contain;
          margin-left: -1.75*$radiusClients;
          margin-top: 32vh;
        }
        .clients:nth-of-type(8){
          background: #FFFFFF url(../images/clients/logo08.gif) center no-repeat;
                    background-size: contain;
          margin-left: -(0.5)*$radiusClients;
          margin-top: 32vh;
        }
        .clients:nth-of-type(9){
          background: #FFFFFF url(../images/clients/logo09.gif) center no-repeat;
                    background-size: contain;
          margin-left: (0.75)*$radiusClients;
          margin-top: 32vh;
        }
        .clients:nth-of-type(10){
          background: #FFFFFF url(../images/clients/logo10.gif) center no-repeat;
                    background-size: contain;
          margin-left: -(0.5)*$radiusClients;
          margin-top: 48vh;
        }
        .clients:hover, .partners:hover{
          border: 0.1px solid lightgray;
          height: $radiusClients*(1.05);
          width: $radiusClients*(1.05);
          border-radius: $radiusClients*(0.0);
          }
          .clients:active, .partners:active{
              border: 0.5px solid pink;
          }

          .partners:nth-of-type(1){
            background: #FFFFFF url(../images/partners/logo01.gif) center no-repeat;
            background-size: cover;
            margin-left: -(0.5)*$radiusClients;
          }
      }
    }
    .ourClients{
      padding-top: 4em;
      height: $heightSliderContacts*(1.5);
      min-height: 300px*(1.5);
      max-height: 4*$radiusClients*(1.5);
      span{
        display: inline-block;
        padding-top: 0.5em;
      }
    }
    .ourPartners{
      padding-top: 2.5vh;
      text-align: center;
    }
}
//mainMenu
.mainMenu{
  max-height: (1.2)*$heightSliderContacts;
  min-height: 450px;
  height: 1000px;
  .contentMainMenu{
    background: #FFFFFF url(../images/Menu.jpg)center no-repeat;
    background-position: center 75%;
    background-size: cover;
    height: $heightSliderContacts;
    max-height: (1.5)*$minHeightInsta;
    min-width: 60%;
    max-width: 45em;
    margin: $marginAuto;
    position: relative;
  }
  .menuText{
  min-height: (0.5)*$heightSliderContacts;
  }
  .contentAboutTextLinkMenu{
  //  padding-top:50px;
    min-width: 200px;
    max-width: 60vw;
    margin: $marginAuto;
    height: (1/8)*$heightSliderContacts;
    min-height: 2em;
    max-height: 10vh;
    letter-spacing: 0.1em;
    text-align:center;
    font-weight: bolder;
    vertical-align: text-top;
    a{
      font-size: 2vh;
      color: #000;
    }
  }
}
//boxes
.boxes {
  max-height: (2.5)*$heightSliderContacts;
  min-height: 550px;
  height: 1350px;
  min-width: $widthSlideContacts;
  /*
  Первичные стили:
  С ними работает слайд шоу
  */
  #slides-box {
    height: $heightSliderContacts;
      max-height: (1.5)*$minHeightInsta;
    width: $mainWidth;
    min-width: 100%;
    max-width: 45em;
  }
  .slide-box {
    position: absolute;
    left: 0px;
    top: 0px;
    //height: 100%;
    height:  $heightSliderContacts;
      max-height: (1.5)*$minHeightInsta;
    min-width: 100%;
    max-width: 45em;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
  /*Сделать видимым, прозрачность=0;*/
  .showing {
      opacity: 1;
      z-index: 2;
  }
  /*Второстепенные стили:
  Внешний вид; можете изменять*/
  .slide-box {
    font-size: 1em;
    padding: 0;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    height: 100%;
  }
  .slide-box:nth-of-type(1) {
      background: #FFFFFF url(../images/box/01.JPG) center no-repeat;
          background-size: cover;
  }
  .slide-box:nth-of-type(2) {
      background: #FFFFFF url(../images/box/02.JPG) center no-repeat;
          background-size: cover;
  }
  .slide-box:nth-of-type(3) {
      background: #FFFFFF url(../images/box/03.JPG) center no-repeat;
          background-size: cover;
  }
  .slide-box:nth-of-type(4) {
      background: #FFFFFF url(../images/box/04.JPG) center no-repeat;
          background-size: cover;
  }
  .slide-box:nth-of-type(5) {
      background: #FFFFFF url(../images/box/05.JPG) center no-repeat;
          background-size: cover;
  }
  .slide-box:nth-of-type(6) {
      background: #FFFFFF url(../images/box/06.JPG) center no-repeat;
          background-size: cover;
  }
  .slider-photo-box ul{
    margin: auto;
  }
  .boxesDownload{
//  padding-top: 2em;
    min-width: 60%;
    max-width: 80vw;
    margin: $marginAuto;
    height: (1/8)*$heightSliderContacts;
    min-height: 2em;
    max-height: 10vh;
    letter-spacing: 0.1em;
    text-align:center;
    font-weight: bolder;
    vertical-align: text-top;
          font-size: 2.2vh;
    a{
      font-size: 2vh;
      color: #000;
    }
  }
  .boxText{
    height: 0.8*$heightSliderContacts;
    min-height:10em;
    max-height: 800px;
    max-height: (0.8)*$heightSliderContacts;
    min-height: 180px;
    margin:auto;
    text-align: center;
    padding: 2.1% 0;
    font-size: 2.1vh;
    p{
      text-align: justify;
    }
  }
}
    @import url('https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic');
.wedding{

    height: 300vh;
    margin-top: $mainMarginTop;
  .contentMainWedding{
    background: #ccc url(../images/Wedding.jpg) center no-repeat;
    background-size: /*100% 100% */  cover;
    background-position: center bottom;
    height: $heightSliderContacts;
    max-height: (1.5)*$minHeightInsta;
    min-width: 60%;
    max-width: 45em;
    margin: $marginAuto;
    position: relative;
  }
  .weddingText{
    min-width:  100%;
  }
  .leftContainer, .rightContainer{
      min-width: 30vw;
    //  display: inline-block;
    //  max-width: $widthSlideContacts*(0.5);
  }
  .weddingInfo{
    min-width: 60vw;
      display: block;
      margin: auto;
      min-height: 10vh;
      max-width: 80vw;
    //  max-width: $widthSlideContacts*(0.6);
      .infoWeddingText{
        text-align: justify;
        padding-bottom: 3em;
      }
  }
  .leftContainer, .rightContainer{
    position: absolute;
    //  margin-left: -$widthSlideContacts*(0.5);
  }
  /*.rightContainer  {
    margin-left: 5px;
  }*/
  .cardsOffer{
    border: 0.125em dotted black;
    padding-left: 1em;
    padding-right: 1em;
    //min-width: 10vw;
    min-width: 30vw;
    margin-top: 0.25em;
  }
  .smallWeddingTab{
    //border:  0.125em dotted black;
    min-width: 30vw;
    display: inline-block;
    //width: $widthSlideContacts;
    min-height: 20em;
    //max-width: $widthSlideContacts*(1);
  }
  .BigWeddingTab{
      //border:  0.125em dotted black;
      min-width: 30vw;
      display: inline-block;
      //width: $widthSlideContacts;
      min-height: 20em;
      //max-width: $widthSlideContacts*(1);
    }
  .headWedding{
    span{
      font-family: 'Marck Script', cursive;
      font-weight: bold;
    }
  }
  .dishTitle{
    font-size: 0.7em;
    min-height: 1em;
  }
  .dishDetail{
    font-size: 0.4em;
    min-height: 1em;
  }
  .priceOfDishes{
    min-height: 1em;
  }
  .smallSpan{
    font-size: 0.95em !important;
  }
  .leftContainerSmall, .rightContainerSmall{
    margin-top: -2em;
    min-width: 30vw;
    //display: inline-block;
    //max-width: $widthSlideContacts*(0.5);
    position: absolute;
    margin-top: 10px;
  }
  /*.leftContainerSmall{
  //  margin-left: -$widthSlideContacts*(0.5);
  }
  .rightContainerSmall{
    margin-left: 5px;
  }*/
  .contentAboutTextHeader{
    margin-top: 100vh;
    font-size: 1.2em !important;
  }
  /*.contentAboutTextLinkWedding{
    margin-top: 400px;
    font-size: 1.5em;
  }*/


  /*  .contentAboutTextLinkWedding{
  //  padding-top:50px;
    min-width: 200px;
    max-width: 100%;
    margin-left: $marginAuto;
    margin-right: $marginAuto;
    height: (1/8)*$heightSliderContacts;
    min-height: 2em;
    max-height: 10vh;
    letter-spacing: 0.1em;
    text-align:center;

    vertical-align: text-top;
    a{
      font-size: 1.1em;
        font-weight: 400;
      color: #000;
    }
  }*/
}
//offerPart

///////////////////
.mainMenu{
  max-height: 150vh;
}
.realMain{
  min-height: 215vh;
}

//small smartphone
@media all and (min-width: 280px) and (max-width:600px) and (min-height: 450px) and (max-height:740px){
//  body{color:red}
  .wedding{
    .BigWeddingTab,.smallWeddingTab{
      display: block;
    }
    height: 420vh;
    .BigWeddingTab{
      max-height: 220vh;
      height: 220vh;
      overflow-y: scroll;
      min-width: 75vw;
      max-width: 75vw;
      margin-left: 15vw;
      display: block;
      position: absolute;


      .leftContainer, .rightContainer{
        max-height: 100vh;
        height: 100vh;
        overflow-y: scroll;
        min-width: 75vw;
        max-width: 75vw;
        margin-left: 0vw;
        display: block;
        .cardsOffer{
          min-width: 75vw;
          max-width: 75vw;
          margin-left: 0vw;
        }
      }
      .rightContainer{
        margin-top: 105vh;
      }

    }

    .contentAboutTextHeader{
      margin-top: 215vh;
    }
    .smallWeddingTab{
      max-height: 60vh;
      height: 60vh;
      overflow-y: scroll;
      min-width: 75vw;
      max-width: 75vw;
      margin-left: 15vw;
      display: block;
      position: absolute;

      .leftContainerSmall,.rightContainerSmall{
        min-width: 75vw;
        max-width: 75vw;
        margin-left: 0vw;
        display: block;
        .cardsOffer{
          padding-top: 1em;
          padding-bottom: 1em;
          min-height: 24em;
          max-height: 24em;
          min-width: 75vw;
          max-width: 75vw;
          //margin-left: 15vw;
        }
      }
      .rightContainerSmall{
        margin-top: 27em;
      }
    }
  }
}
//big smartphone
@media all and (min-width: 600px) and (max-width:900px) and (min-height: 737px) and (max-height:1440px){
//  body{color:orange}
  .wedding{
    height: 420vh;
    .BigWeddingTab{
      max-height: 220vh;
      height: 220vh;
      overflow-y: scroll;
      min-width: 75vw;
      max-width: 75vw;
      margin-left: 15vw;
      display: block;
      position: absolute;


      .leftContainer, .rightContainer{
        max-height: 100vh;
        height: 100vh;
        overflow-y: scroll;
        min-width: 75vw;
        max-width: 75vw;
        margin-left: 0vw;
        display: block;
        .cardsOffer{
          min-width: 75vw;
          max-width: 75vw;
          margin-left: 0vw;
        }
      }
      .rightContainer{
        margin-top: 105vh;
      }

    }

    .contentAboutTextHeader{
      margin-top: 215vh;
    }
    .smallWeddingTab{
      max-height: 60vh;
      height: 60vh;
      overflow-y: scroll;
      min-width: 75vw;
      max-width: 75vw;
      margin-left: 15vw;
      display: block;
      position: absolute;

      .leftContainerSmall,.rightContainerSmall{
        min-width: 75vw;
        max-width: 75vw;
        margin-left: 0vw;
        display: block;
        .cardsOffer{
          padding-top: 1em;
          padding-bottom: 1em;
          min-height: 24em;
          max-height: 24em;
          min-width: 75vw;
          max-width: 75vw;
          //margin-left: 15vw;
        }
      }
      .rightContainerSmall{
        margin-top: 27em;
      }
    }
  }
}
//giant smartphone
@media all and (min-width: 900px) and (max-width:1100px) and (min-height: 1001px) and (max-height:1920px){
//  body{color:yellow}
  .wedding{
    height: 400vh;
    .BigWeddingTab{
      max-height: 220vh;
      height: 220vh;
      overflow-y: scroll;
      min-width: 75vw;
      max-width: 75vw;
      margin-left: 15vw;
      display: block;
      position: absolute;


      .leftContainer, .rightContainer{
        max-height: 100vh;
        height: 100vh;
        overflow-y: scroll;
        min-width: 75vw;
        max-width: 75vw;
        margin-left: 0vw;
        display: block;
        .cardsOffer{
          min-width: 75vw;
          max-width: 75vw;
          margin-left: 0vw;
        }
      }
      .rightContainer{
        margin-top: 105vh;
      }

    }

    .contentAboutTextHeader{
      margin-top: 215vh;
    }
    .smallWeddingTab{
      max-height: 60vh;
      height: 60vh;
      overflow-y: scroll;
      min-width: 75vw;
      max-width: 75vw;
      margin-left: 15vw;
      display: block;
      position: absolute;

      .leftContainerSmall,.rightContainerSmall{
        min-width: 75vw;
        max-width: 75vw;
        margin-left: 0vw;
        display: block;
        .cardsOffer{
          padding-top: 1em;
          padding-bottom: 1em;
          min-height: 24em;
          max-height: 24em;
          min-width: 75vw;
          max-width: 75vw;
          //margin-left: 15vw;
        }
      }
      .rightContainerSmall{
        margin-top: 27em;
      }
    }
  }
}
@media all and (min-width: 800px) and (max-width:1280px) and (min-height: 600px) and (max-height:900px){
//  body{color:blue}
  .wedding{
    height: 350vh;
    .weddingInfo{
      max-width: 60vw;
    }
    .BigWeddingTab{
      max-height: 220vh;
      height: 220vh;
      overflow-y: scroll;
      min-width: 60vw;
      max-width: 60vw;
      margin-left: 20vw;
      display: block;
      position: absolute;
      .leftContainer, .rightContainer{
        max-height: 100vh;
        height: 100vh;
      //  overflow-y: scroll;
        min-width: 28vw;
        max-width: 28vw;
        margin-left: 0vw;
        display: inline-block;
        .cardsOffer{
          min-width: 28vw;
          max-width: 28vw;
          margin-left: 0vw;
        }
      }
      .leftContainer{
        margin-left: -29vw;
      }
      .rightContainer{
        margin-left: 1vw;
      //  margin-top: 105vh;
      }

    }
    .contentAboutTextHeader{
      margin-top: 160vh;
    }
    .smallWeddingTab{
      max-height: 60vh;
      height: 60vh;
      overflow-y: scroll;
      min-width: 60vw;
      max-width: 60vw;
      margin-left: 20vw;
      display: block;
      position: absolute;

      .leftContainerSmall,.rightContainerSmall{
        min-width: 28vw;
        max-width: 28vw;
        margin-left: 0vw;
        display: inline-block;
        .cardsOffer{
          padding-top: 1em;
          padding-bottom: 1em;
          min-height: 24em;
          max-height: 24em;
          min-width: 28vw;
          max-width: 28vw;
          //margin-left: 15vw;
        }
      }
      .leftContainerSmall{
        margin-left: -29vw;
      }
      .rightContainerSmall{
        margin-left: 1vw;
        //margin-top: 27em;
      }
    }
  }
}
@media all and (min-width: 1280px) and (max-width:1600px) and (min-height: 900px) and (max-height:1080px){
  //  body{color:purple}
  .wedding{
    height: 320vh;
    .weddingInfo{
      max-width: 60vw;
    }
    .BigWeddingTab{
      max-height: 220vh;
      height: 220vh;
      overflow-y: scroll;
      min-width: 60vw;
      max-width: 60vw;
      margin-left: 20vw;
      display: block;
      position: absolute;
      .leftContainer, .rightContainer{
        max-height: 100vh;
        height: 100vh;
      //  overflow-y: scroll;
        min-width: 28vw;
        max-width: 28vw;
        margin-left: 0vw;
        display: inline-block;
        .cardsOffer{
          min-width: 28vw;
          max-width: 28vw;
          margin-left: 0vw;
        }
      }
      .leftContainer{
        margin-left: -29vw;
      }
      .rightContainer{
        margin-left: 1vw;
      //  margin-top: 105vh;
      }

    }
    .contentAboutTextHeader{
      margin-top: 160vh;
    }
    .smallWeddingTab{
      max-height: 60vh;
      height: 60vh;
      overflow-y: scroll;
      min-width: 60vw;
      max-width: 60vw;
      margin-left: 20vw;
      display: block;
      position: absolute;

      .leftContainerSmall,.rightContainerSmall{
        min-width: 28vw;
        max-width: 28vw;
        margin-left: 0vw;
        display: inline-block;
        .cardsOffer{
          padding-top: 1em;
          padding-bottom: 1em;
          min-height: 24em;
          max-height: 24em;
          min-width: 28vw;
          max-width: 28vw;
          //margin-left: 15vw;
        }
      }
      .leftContainerSmall{
        margin-left: -29vw;
      }
      .rightContainerSmall{
        margin-left: 1vw;
        //margin-top: 27em;
      }
    }
  }
}

@media all and (min-width: 1440px) and (max-width:5000px) and (min-height: 600px) and (max-height:5000px){
//  body{color:brown}
  .wedding{
    height: 310vh;
    .weddingInfo{
      max-width: 60vw;
    }
    .BigWeddingTab{
      max-height: 220vh;
      height: 220vh;
      overflow-y: scroll;
      min-width: 60vw;
      max-width: 60vw;
      margin-left: 20vw;
      display: block;
      position: absolute;
      .leftContainer, .rightContainer{
        max-height: 100vh;
        height: 100vh;
      //  overflow-y: scroll;
        min-width: 28vw;
        max-width: 28vw;
        margin-left: 0vw;
        display: inline-block;
        .cardsOffer{
          min-width: 28vw;
          max-width: 28vw;
          margin-left: 0vw;
        }
      }
      .leftContainer{
        margin-left: -29vw;
      }
      .rightContainer{
        margin-left: 1vw;
      //  margin-top: 105vh;
      }

    }
    .contentAboutTextHeader{
      margin-top: 140vh;
    }
    .smallWeddingTab{
      max-height: 60vh;
      height: 60vh;
      overflow-y: scroll;
      min-width: 60vw;
      max-width: 60vw;
      margin-left: 20vw;
      display: block;
      position: absolute;

      .leftContainerSmall,.rightContainerSmall{
        min-width: 28vw;
        max-width: 28vw;
        margin-left: 0vw;
        display: inline-block;
        .cardsOffer{
          padding-top: 1em;
          padding-bottom: 1em;
          min-height: 24em;
          max-height: 24em;
          min-width: 28vw;
          max-width: 28vw;
          //margin-left: 15vw;
        }
      }
      .leftContainerSmall{
        margin-left: -29vw;
      }
      .rightContainerSmall{
        margin-left: 1vw;
        //margin-top: 27em;
      }
    }
  }
}



























@media all and (max-height: 800px) and (max-width: 500px){
  .contentMainWedding, .contentMainMenu, .mainSlide {
    max-height: 250px !important;
  }
  .mainClass .contactsSlide {
    max-height: 250px !important;
  }
}
//iphone_5
@media all and (max-height: 666px) and (max-width: 376px){
  .mainMenu{
    max-height: 1000px;
  }
  .mainClass{
    max-height: 775px;
  }
  .realMain{
    min-height: 1300px;
  }
  header, .navygation{
    min-width: 300px;
  }
  .boxes{
    min-height: 900px;
  }

}
//iphone_6
@media all and (min-width:375px) and (min-height:667px) and (max-height: 700px) and (max-width: 400px){
  .mainMenu{
    max-height: 1100px;
  }
  .mainClass{
    max-height: 850px;
  }
  .realMain{
    min-height: 1450px;
  }
  header, .navygation{
    min-width: 350px;
  }
  .boxes{
    min-height: 1050px;
  }

}
//iphone_plus
@media all and (min-height: 701px) and (max-height: 850px) and (min-width: 400px) and (max-width: 500px){
  .mainMenu{
    height: (1.1)*$heightSliderContacts;
    min-height: 950px;
  }
  .mainClass{
    max-height: 800px;
  }
  .realMain{
    min-height: 1500px;
  }
  header, .navygation{
    min-width: 390px;
  }
  .boxes{
    min-height: 1100px;
  }

}
//iphone_plus7
@media all and (min-width: 620px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1380px) {
  .mainMenu{
    height: (1.1)*$heightSliderContacts;
    min-height: 100vh;
  }
  .mainClass{
    max-height: 800px;
  }
  .realMain{
    min-height: 180vh;
  }
  header, .navygation{
    min-width: 680px;
  }
  .boxes{
    min-height: 115vh;
  }

}
//laptop_full
@media all and (min-height: 1000px) and (min-width: 1441px) {
  .realMain{
    min-height: 1900px;
  }
  .mainMenu{
    min-height: 1100px;
  }
  .boxes{
    min-height: 1200px;
  }

}

//laptop_small
@media  all and (min-width: 1025px)and(max-width: 1440px)  and (min-height: 600px) and(max-height: 1000px) {
  .realMain{
    min-height: 1500px;
  }
  .mainMenu{
    min-height: 900px;
    height: 900px;
  }
  .boxes{
    min-height: 1100px;
  }

}
@media all and (min-width: 1000px) and (max-width: 1200px) and (min-height: 1300px) and  (max-height: 1400px){
  .realMain{
    height: 2200px;
  }
  .mainMenu{
    height: 1400px;
  }
  .boxes{
    height: 1600px;
  }

}
//ipad
@media  all and (min-width: 700px) and (max-width: 900px) and  (min-height: 1000px)and (max-height: 1200px){
  .realMain{
  min-height: 1600px;
  }
  .mainMenu{
    height: 1100px;
  }
  .boxes{
    height: 1200px;
    .contentAboutTextLink{
      padding-top: 0;
    }
  }

}
//ipadmini
@media all and (min-width: 1000px) and (max-width: 1100px) and (min-height: 700px) and (max-height: 800px){
  .realMain{
  min-height: 1600px;
  }
  .mainMenu{
    height: 1100px;
  }
  .boxes{
    height: 1200px;
    .contentAboutTextLink{
      padding-top: 0;
    }
  }
}

@media all and (min-width: 300px) and (max-width: 768px) and (min-height: 769px) and (max-height: 1300px)  {
  header,.navygation{
    min-width: 85vw!important;
  }

}
@media all and (min-width: 300px) and (max-width: 1300px) and (min-height: 600px) and (max-height: 768px)  {
    header,.navygation{
      min-width: 85vw!important;
    }

}
