body{
  font-family: fantasy;
  height: 50vw;
  max-height: 100vw;
  min-height: 50vw;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  background: #ffffcf;
  padding: 0;
}
header{
  min-height: 5%;
  max-height: 6vw;
  width: 101vw;
  min-width: 101vw;
  margin-top: -1.5vw;
  margin-left: -0.6vw;
  background: #0baab3;
}
header h1{
  font-size: 2vw;
  color: #fcffcf;
  padding-left: 33%;
  padding-top: 1vw;
}
nav{
  font-size: 1.2vw;
  text-align: center;
  margin: auto;
  max-height: 2vw;
}
nav a{
  color:  #fccfcc;
  text-decoration: none;
  padding: 0.2vw;
}
main{
  font-size: 1.2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  background: #ffffff;
  margin: auto;
  width: 80vw;
  max-width:80vw;
  min-width:80vw;
  height: 37vw;
  max-height: 37vw;
  min-height: 100%;
  margin-top: 0vw;
}
main h2{
  margin: auto;
  text-align: center;
}

footer{
  width:81.4%;
  max-width:81.4%;
  min-width: 80%;
  background: #666666;
  color: #ffffff;
  margin: auto;
  height: 6vw;
  margin-top: 0vw;
  margin-left: -1vw;
  padding-left: 10%;
  padding-right: 10%;
}
footer a{
  text-decoration: none;
  color: #fff;
}
