.blogEntry{
  padding: 2vw;
  text-align: justify;
}
.copyPast{
  padding: 2vw;
  font-style: oblique;
  text-align: justify;
}
.copyPast span{
  background: #000000;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
  font-size: 1vw;
}
.footPart{
  text-align: right;
  padding-top: 1vw;
}
