$containerInstaHeight:400px;
$pageLeft:40vw;
$imgSize: $containerInstaHeight*(0.25);

#containerInstagram{
  height: $containerInstaHeight;
  width: $containerInstaHeight;
  display: block;
  margin: auto;
}
.il-photo__img{
  max-width: $imgSize;
  max-height: $imgSize;
  min-width: $imgSize;
  min-height: $imgSize;
  height: $imgSize;
  width: $imgSize;
  padding:  5px/*$imgSize*(1/90)*/;
}

#containerInstagram a{
  font-size: 0;
  padding-bottom: 0;
}
.instagramLite{
  padding: 0;
  margin:0;
}
