/*
Первичные стили:
С ними работает слайд шоу
*/
#slides-box {
    position: relative;
    height: 30em;
    min-width: 60%;
    max-width: 40em;
    /*padding: 0px;
    margin: 0px;
    list-style-type: none;*/
}
.slide-box {
    position: absolute;
    left: 0px;
    top: 0px;
    /*width: 100%;
    height: 100%;*/
    height: 30em;
    min-width: 100%;
    max-width: 40em;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
/*Сделать видимым, прозрачность=0;*/
.showing {
    opacity: 1;
    z-index: 2;
}
/*
Второстепенные стили:
Внешний вид; можете изменять
*/
.slide-box {
    font-size: 1em;
    padding: 0;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    height: 30em;
}
.slide-box:nth-of-type(1) {
    background: #FFFFFF url(../images/box/01.JPG) center no-repeat;
        background-size: cover;
}
.slide-box:nth-of-type(2) {
    background: #FFFFFF url(../images/box/02.JPG) center no-repeat;
        background-size: cover;
}
.slide-box:nth-of-type(3) {
    background: #FFFFFF url(../images/box/03.JPG) center no-repeat;
        background-size: cover;
}
.slide-box:nth-of-type(4) {
    background: #FFFFFF url(../images/box/04.JPG) center no-repeat;
        background-size: cover;
}

.controls{
  margin-top: 0.5em;
}
.tableslider{
  text-align: center;
  padding-top: 1em;
  margin: auto;
  opacity: 0.15;
}
.tableslider td{
  min-width: 5em;
}
.tableslider button{
  width: 100%;
}
.content-about-text{
  margin-top: 0.5em;
}

.slider-photo-box ul{
  margin: auto;

  /*margin-left: 10%;*/
}
